<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <title>登录页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
<div class="login_box">
    <div class="login">
        <div class="login_logo"><img th:src="@{/images/login_logo.png}" alt="" src=""/></div>
        <div class="login_name">
            <p>中国物料搬运蓝皮书数据采集平台</p>
        </div>
        <form id="login_form" method="post" th:action="@{/login}">
            <p style="color:red;text-align: center" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
            <label for="username"></label><input type="text" class="form-control" id="username" name="username"
                                                 th:placeholder="用户名" required autofocus>
            <label for="pwd"></label><input type="password" class="form-control" id="pwd" name="password"
                                            th:placeholder="密码" required autofocus>
            <button id="submit" type="submit" class="btn btn-lg btn-primary btn-block" style="margin-top: 25px">登&nbsp;&nbsp;录</button>
            <a th:href="@{/toRegister}" id="btn_reg" class="btn btn-lg btn-warning btn-block" style="margin-top: 25px">注&nbsp;&nbsp;册</a>
        </form>
    </div>
</div>
<div id="footer">
    © 2019-2020 版权所有 <a href="http://www.beian.miit.gov.cn" target="_blank">皖ICP备19022408号-1</a>
</div>
</body>
</html>